
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: 'Helvetica';
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  font-family: 'Helvetica';
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background-color: #999999;
}

p {
  padding: 5px 20px;
}

.container {
  width: 80%;
  margin: 0 auto;
  background-color: #fff;
  height: 500px;
}

nav {
  background-color: black;
  display: fixed;
}



.dropitem {
  color: white;
  height:30px;
  width: 200px;
  margin:0;
  background-color: black;
  box-sizing: border-box;
  border: white 1px solid;
}

@media only screen and (min-width:500px){
  li {
    color: white;
    display: inline;
    margin: 15px;
    font-size: 18px;
  }

  .dropdown {
    display:none;
  }

  ul {
    padding: 10px;
    width:80%;
    margin: 0 auto;
  }

  img {
    display:none;
  }

  container {
    width: 80%;
    background-color: #fff;
    height: 500px;
  }
}

@media only screen and (max-width: 500px){

  .dropdown {
    display:none;
  }

  .container {
    min-width: 400px;
  }

  ul {
    display: none;
  }

  li {
    color: white;
    margin: 15px;
    font-size: 18px;
    border: 1px solid black;
  }

}
